@page "/api"

<Card>
    <CardHeader>Finnhub</CardHeader>
    <CardBody>
        The <a href="https://finnhub.io/" target="_blank">Finnhub Stock API</a> was used to fetch the data displayed on the Dashboard homepage.
    </CardBody>
</Card>

<Divider />

<Card>
    <CardHeader>Endpoints</CardHeader>
    <CardBody>
        <Alert Color="Color.Success" Visible="true">
            <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success">Stock Candles</Heading>
            <Paragraph>
                Get candlestick data for stocks going back 25 years for US stocks.
            </Paragraph>
            <Paragraph>
                <Button Color="Color.Info" Clicked="@TestStockCandles">Test</Button>
            </Paragraph>
        </Alert>
    </CardBody>
</Card>

@code{
    private void TestStockCandles()
    {

    }
}