@page "/api"

<Card>
    <CardHeader>Finnhub</CardHeader>
    <CardBody>
        The <a href="https://finnhub.io/" target="_blank">Finnhub Stock API</a> was used to fetch the data displayed on the Dashboard homepage.
    </CardBody>
</Card>

@code{

}